@import "./styles/tailwind.css";

/* Global body rules to help background cover */
:root {
  --bg-transition: 1000ms;
}
html, body, #root {
  height: 100%;
}
body {
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  padding: 0;
  background-color: #0b0620;
  color: #e6eef8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}